<div class="container">
  <form [formGroup]="profileForms" (ngSubmit)="onSubmit()">
    <h4>Quali strumenti conoscevi già fra quelli utilizzati durante Young Talent In Action?</h4>
    
    
    <div class="content">
        <mat-card>
            <mat-card-content>
      <section class="example-section">
        <mat-checkbox class="example-margin" 
        formControlName="checkboxHTML">HTML
      </mat-checkbox>
        
      <mat-checkbox class="example-margin" 
        formControlName="checkboxJS">JAVASCRIPT
      </mat-checkbox>
        
      <mat-checkbox class="example-margin" 
        formControlName="checkboxCSS">CSS
      </mat-checkbox>
        
      
      </section>
      <section>
          <mat-checkbox class="example-margin" 
          formControlName="checkboxANGULAR">ANGULAR
          </mat-checkbox>
            
          <mat-checkbox class="example-margin" 
          formControlName="checkboxSDS">STRUMENTI DI SVILUPPO BROWSER
          </mat-checkbox>
  
      </section>  
      </mat-card-content>
</mat-card>


  
    </div>
    
    <br>
    <!--SUGGERIMENTI-->
    <h4>Quale suggerimento daresti quale miglioramento per una prossima edizione di Young Talent In Action?</h4>
    <mat-form-field class="example-full-width" for="textarea_poll">
      <textarea matInput placeholder="Suggerimenti" formControlName="textarea_poll"></textarea>
    </mat-form-field>
    <div *ngIf="profileForms.invalid && (profileForms.dirty || profileForms.touched)"
    class="alert alert-danger">
     <!--DIV CAMPO OBBLIGATORIO-->
     <div *ngIf="profileForms.get('textarea_poll').errors.required">
        Questo campo è obbligatorio!
     </div>
     <!--DIV MAX 30 CARATTERI-->
     <div *ngIf="profileForms.get('textarea_poll').errors.minlength">
        Il campo suggerimenti deve contenere almeno 30 caratteri!
     </div>
   </div>
    <br>
    <button type="submit" class="waves-effect waves-light btn-large"
    [disabled]="!profileForms.valid">Invia</button>
  </form>
</div>