<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>{{ title }} app is running!</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper teal">
          <a href="#" class="brand-logo">{{ title }}</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/restapi" routerLinkActive="active">RestApi</a></li>
            <li><a href="kdsalkldsk">404-Test</a></li>
          </ul>
        </div>
      </nav>
        <!--CONTENT -->
  
  <div class="container">
    <router-outlet></router-outlet>

  </div>
  

<br>
  <!--FOOTER -->

  <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Progetto in Angular</h5>
            <p class="grey-text text-lighten-4">Per visualizzare la versione su Server cliccare <a class="grey-text text-lighten-3" href="#">QUI</a></p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Realizzato da</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://github.com/hersel91">Hersel Giannella</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/Luce96">Luce Di Rita</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/ayoubrihi">Ayoub Rihi</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/GhazalehGitinejad">Ghazaleh Gitinejad</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/Fastnovaster">Zakaria B</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2019 Team Azienda4
        <a class="grey-text text-lighten-4 right" href="https://github.com/hersel91/azienda4">Guarda su GitHub</a>
        </div>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>