<!--FORM 2 , SELECT NO-->
<div class="container" *ngIf="!options">
        <form [formGroup]="profileForms" (ngSubmit)="onSubmit()">
         <script>

                </script>               
                        <h4>Qual è stata la motivazione che ti ha spinto a partecipare a partecipare a Young
                                Talent In Action?</h4>
                          <div class="form-group">
                                <mat-form-field class="example-full-width" 
                                for="textarea_poll_noform">
                                    <textarea name="noform-input"
                                    formControlName="textarea_poll_noform" 
                                    matInput placeholder="Suggerimenti">

                                    </textarea>
                                  </mat-form-field>
                              </div>
                              <h4>Quale strumento hai trovato più difficoltoso fra quelli utilizzati durante Young Talent
                                    In Action?</h4>
                                    
                                    <mat-form-field>
                                      <select matNativeControl required 
                                      formControlName="select_no_form">
                                        <option>{{select1}}</option>
                                        <option>{{select2}}</option>
                                        <option>{{select3}}</option>
                                        <option>{{select4}}</option>
                                      </select>
                                    </mat-form-field>
                                <br />
                <button type="submit" class="waves-effect waves-light btn-large"
                [disabled]="!profileForms.valid">Invia</button>
    </form>
</div>